
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
 
            <!-- Start Content-->
            <div class="container-fluid">

                <!-- ========== Tarjetas =========== -->

                <div class="row">

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Ventas total</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{ventas_total}} </h2>
                                    <p class="text-muted mb-1">Ventas total</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
            
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Efectivo</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{efectivo}} </h2>
                                    <p class="text-muted mb-1">Efectivo</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Debito</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{debito}} </h2>
                                    <p class="text-muted mb-1">Debito</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Credito</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{credito}} </h2>
                                    <p class="text-muted mb-1">Credito</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    
            
                </div>

                <div class="row">

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Transferencia</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{transferencia}} </h2>
                                    <p class="text-muted mb-1">Transferencia</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
            
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Egresos</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{egresos}} </h2>
                                    <p class="text-muted mb-1">Egresos</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-4">Cta. Cte</h4>
            
                            <div class="widget-chart-1">            
                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1">$ {{cta_cte}} </h2>
                                    <p class="text-muted mb-1">Cta. Cte</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
            
                </div>

                <!-- ========== Fin Tarjetas =========== -->

                <!-- ============== Fechas =============== -->

                <div class="row">
                    <div class="col-sm-4">
                        <label for="start">Fecha Inicio : &nbsp;</label>
                        <input type="date" required="" [(ngModel)]="fechaInicio" class="ng-pristine ng-valid ng-touched"> &nbsp;&nbsp;&nbsp;&nbsp; 
                    </div>

                    <div class="col-sm-4">
                        <label for="start">Fecha Fin : &nbsp;</label>
                        <input type="date" required="" [(ngModel)]="fechaFin" class="ng-untouched ng-pristine ng-valid"> &nbsp;&nbsp;&nbsp;&nbsp; 
                    </div>

                    <div class="col-sm-4">
                        <button class="btn btn-purple btn-rounded width-md waves-effect waves-light" (click)="cargarDatosDashboard()">
                            <i class="mdi mdi-update"></i>
                        </button>
                        <button [routerLink]="['ventas/nueva']" type="button" class="btn btn-primary btn-rounded width-md waves-effect waves-light">
                            <i class="mdi mdi-plus"></i> 
                            Nueva Venta
                        </button>   
                    </div>
                </div>
                <br>

                <!-- ======= Fin Fechas ================= -->

                <!-- ========== Tabla =========== -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">

                            <div class="responsive-table-plugin">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table table-striped mb-0">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Fecha</th>
                                                <th>Empleado</th>
                                                <th>Cliente</th>
                                                <th>Tipo</th>
                                                <th>Monto</th>
                                                <th>Descripcion</th>
                                                <th>Accion</th>
                                            </tr>
                                            </thead>
                                             <tbody>
                                                <tr *ngFor="let transaccion of transacciones">
                                                    <td>{{ transaccion.id_transaccion }}</td>
                                                    <td>{{ transaccion.Fecha }}</td>
                                                    <td>{{ transaccion.Empleado }}</td>
                                                    <td>{{ transaccion.Cliente }}</td>
                                                    <td>{{ transaccion.Tipo }}</td>
                                                    <td>$ {{ transaccion.Monto }}</td>
                                                    <td>{{ transaccion.Descripcion }}</td>
                                                    <td>
                                                        <button class="btn btn-inline" type="button">Editar</button>
                                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="modal_baja_transaccion(transaccion.id_transaccion)" >Eliminar</button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                <!-- ========== Fin tabla =========== -->

            </div> <!-- container-fluid -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>

<!--  -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea confirmar la operacion?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" aria-label="Close">Cancelar</button>
            <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" (click)="baja_transaccion()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Atencion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Eliminacion exitosa
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
          <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Aceptar</button> -->
        </div>
      </div>
    </div>
  </div>
  