<div class="navbar-custom">
    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="../../../assets/images/logo_estetica.jpg" alt="" height="60">
            </span>
            <span class="logo-sm">
                <img src="../../../assets/images/logo_estetica.jpg" alt="" height="24">
            </span>
        </a>
        <a href="index.html" class="logo logo-light text-center">
            <span class="logo-lg">
                <img src="../../../assets/images/logo_estetica.jpg" alt="" height="60">
            </span>
            <span class="logo-sm">
                <img src="../../../assets/images/logo_estetica.jpg" alt="" height="24">
            </span>
        </a>
    </div>

    <h3> &nbsp;&nbsp; {{ titulo_sucursal }} </h3>

</div>

